{include file="common/header_top"/}
<link rel="stylesheet" href="__ADMINCSS__/page/callRecords.css" />
{include file="common/header_bottom"/}

<div class="container add-client-container">
    {include file="common/bread_nav"/}
    <div class="main-wrap" id="app" v-cloak>
        <div class="main">
            <div class="layui-row condition">

                <!-- // 筛选条件 start -->
                <div class="layui-form-item">
                    <div class="search-parent pull-left">
                        <form class="layui-form" action="">
                            <input type="text" name="keywords" v-model="keywords" placeholder="请输入姓名或手机号" autocomplete="off" class="search-inp" />
                            <button class="iconfont icon-search search-icon" lay-submit lay-filter="formSearch"></button>
                        </form>
                    </div>
                    <div class="example-handle pull-right">
                        <button class="examine-query">下载表格</button>
                    </div>
                </div>
                <!--<div class="examine-tag">-->
                    <!--<span class="tag-title">状态：</span>-->
                    <!--<ul class="lists">-->
                        <!--<li v-for="(item,index) in states" @click="choiceState($event, index, item.id, item.type)"><a href="javascript:;" class="tag-a" :class="{'tag-active': item.active}">{{item.name}}</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <div class="examine-tag">
                    <span class="tag-title">员工：</span>
                    <ul class="lists">
                        <li @click="showpop = !showpop">
                            <a class="tag-a" :class="{'tag-active': showpopActive}" href="javascript:;">筛选<i class="iconfont icon-down-arrow"></i></a>
                        </li>
                        <li v-for="(item, index) in selectedOrgUsrShow">
                            <a href="javascript:;" class="tag-a tag-active">{{item.name}}<i @click.stop.prevent="delUsr(index)" class="layui-icon fontIcon">&#x1007;</i></a>
                        </li>
                    </ul>
                </div>
                <div class="examine-tag">
                    <span class="tag-title">筛选：</span>
                    <ul class="lists">
                        <li>
                            <a class="tag-a" @click="showDate = !showDate" :class="{'tag-active': showDateActive}" href="javascript:;">{{dateName}}<i class="iconfont icon-down-arrow"></i></a>
                        </li>
                        <!--<li>-->
                            <!--<a class="tag-a" @click="showTime = !showTime" :class="{'tag-active': showTimeActive}" href="javascript:;">{{dateTimeName}}<i class="iconfont icon-down-arrow"></i></a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <div class="examine-tag">
                    <span class="tag-title">楼栋：</span>
                    <ul class="lists">
                        <li v-for="(item,index) in BasicRoom" @click="choiceRoom(index, item.id)"><a href="javascript:;" class="tag-a" :class="{'tag-active': item.active}">{{item.name}}</a></li>
                    </ul>
                </div>
                <!-- 组织架构 start-->
                <div class="examine-filter call-filter" v-show="showpop">
                    <div class="organize-framework">
                        <h2 class="organize-nav">组织架构<a href="JavaScript:;" @click="closeOrg()"></a></h2>
                        <div class="organize-content">
                            <div class="customer-group">
                                <form class="layui-form" action="">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-filter="search-org" lay-search="">
                                                <option value="">请输入用户姓名、账号</option>
                                                <option :value="item.id + ','+item.name" v-for="item in OrgSearchArr">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <nav class="sidebar-nav">
                                    <ul class="metismenu" id="org-framework">
                                        <li v-for="(item, index) in epartment">
                                            <a :class="!item.type && 'has-arrow'" href="javascript:;"
                                               aria-expanded="false" :data-id="item.id" :data-text="item.name"
                                               @click="orgSelectItem">
                                                {{ item.name }}
                                                <span @click.stop="orgSelectAll($event,item.id)"
                                                      v-if="!item.type">全选</span>
                                            </a>
                                            <ul aria-expanded="false" v-if="item.child">
                                                <li v-for="(item2, index) in item.child">
                                                    <a :class="!item2.type && 'has-arrow'" href="javascript:;"
                                                       aria-expanded="false" :data-id="item2.id"
                                                       :data-text="item2.name" @click="orgSelectItem">
                                                        {{ item2.name }}
                                                        <span @click.stop="orgSelectAll"
                                                              v-if="!item2.type">全选</span>
                                                    </a>
                                                    <ul aria-expanded="false" v-if="item2.child">
                                                        <li v-for="(item3, index) in item2.child">
                                                            <a :class="!item3.type && 'has-arrow'"
                                                               href="javascript:;" aria-expanded="false"
                                                               :data-id="item3.id" :data-text="item3.name"
                                                               @click="orgSelectItem">
                                                                {{ item3.name }}
                                                                <span @click.stop="orgSelectAll"
                                                                      v-if="!item3.type">全选</span>
                                                            </a>
                                                            <ul aria-expanded="false" v-if="item3.child">
                                                                <li v-for="(item4, index) in item3.child">
                                                                    <a :class="!item4.type && 'has-arrow'"
                                                                       href="javascript:;" aria-expanded="false"
                                                                       :data-id="item4.id"
                                                                       :data-text="item4.name"
                                                                       @click="orgSelectItem">
                                                                        {{ item4.name }}
                                                                        <span @click.stop="orgSelectAll"
                                                                              v-if="!item4.type">全选</span>
                                                                    </a>
                                                                    <ul aria-expanded="false"
                                                                        v-if="item4.child">
                                                                        <li v-for="(item5, index) in item4.child">
                                                                            <a :class="!item5.type && 'has-arrow'"
                                                                               href="javascript:;"
                                                                               aria-expanded="false"
                                                                               :data-id="item5.id"
                                                                               :data-text="item5.name"
                                                                               @click="orgSelectItem">
                                                                                {{ item5.name }}
                                                                                <span @click.stop="orgSelectAll"
                                                                                      v-if="!item5.type">全选</span>
                                                                            </a>
                                                                            <ul aria-expanded="false"
                                                                                v-if="item5.child">
                                                                                <li v-for="(item6, index) in item5.child">
                                                                                    <a :class="!item6.type && 'has-arrow'"
                                                                                       href="javascript:;"
                                                                                       aria-expanded="false"
                                                                                       :data-id="item6.id"
                                                                                       :data-text="item6.name"
                                                                                       @click="orgSelectItem">
                                                                                        {{ item6.name }}
                                                                                        <span @click.stop="orgSelectAll"
                                                                                              v-if="!item6.type">全选</span>
                                                                                    </a>
                                                                                    <ul aria-expanded="false"
                                                                                        v-if="item6.child">
                                                                                        <!--暂时支持7层-->
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="choose-people">
                                <h2>已选客户：{{ selectedOrgUsr.length }}</h2>
                                <ul>
                                    <li v-for="(item, index) in selectedOrgUsr">{{ item.name }} <i
                                          @click="delChoose(index)"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="organize-bth">
                            <button class="cancel" @click="showpop = false">取消</button>
                            <button class="ensure" @click="addConditonsOrg($event)">确定
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 组织架构 end-->

                <!-- 日期筛选 start -->
                <div class="filter-time filter-select" v-show="showDate">
                    <div class="choose-icon">
                        <a href="javascript:;" @click="cancelCondition($event)">不限</a>
                        <a href="javascript:;" @click="choiceTime($event)">今天</a>
                        <a href="javascript:;" @click="choiceTime($event)">昨天</a>
                        <a href="javascript:;" @click="choiceTime($event)">最近7天</a>
                        <a href="javascript:;" @click="choiceTime($event)">最近30天</a>
                        <a href="javascript:;" @click="choiceTime($event,1)">自定义</a>
                        <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                            <input :class="['layui-input', 'lay-date-a']" readonly>
                            -
                            <input :class="['layui-input', 'lay-date-b']" readonly>
                            <button @click="addConditons($event)">确定</button>
                        </div>
                    </div>
                </div>
                <!-- //日期筛选 end -->

                <!-- 通话时长 start -->
                <!--<div class="filter-time filter-time-long" v-show="showTime">-->
                    <!--<div class="choose-icon">-->
                        <!--<a href="javascript:;" @click="cancelTime($event)">不限</a>-->
                        <!--<a href="javascript:;" @click="choiceTimeLong($event)">1-30秒</a>-->
                        <!--<a href="javascript:;" @click="choiceTimeLong($event)">31-60秒</a>-->
                        <!--<a href="javascript:;" @click="choiceTimeLong($event)">61-120秒</a>-->
                        <!--<a href="javascript:;" @click="choiceTimeLong($event)">120秒以上</a>-->
                        <!--<a href="javascript:;" @click="choiceTimeLong($event,1)">自定义</a>-->
                        <!--<div class="layui-inline"> &lt;!&ndash; 注意：这一层元素并不是必须的 &ndash;&gt;-->
                            <!--<input onkeyup="this.value = this.value.replace(/[^\d]/g,'')" :class="['layui-input', 'lay-date-t-a']">秒-->
                            <!-- - -->
                            <!--<input onkeyup="this.value = this.value.replace(/[^\d]/g,'')" :class="['layui-input', 'lay-date-t-b']">秒-->
                            <!--<button @click="addConditonsTime($event)">确定</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- //通话时长 end -->

                <!-- // 筛选条件 end -->

                <!--<div class="holderBg"></div>-->
                <ul class="holder-ul">
                    <li>电话总计：<span>1587个</span></li>
                    <li>统计人数：<span>1587人</span></li>
                    <li>接通次数：<span>1587次</span></li>
                    <li>通话总时长：<span>1587分钟</span></li>
                    <li>平均每人通话时长：<span>1587分钟</span></li>
                </ul>

                <!-- table start -->
                <div class="table-box">
                    <div class="table-container">
                        <table class="m-table" cellpadding="0" cellspacing="0" border="0" width="100%" v-if="callRecord.length != 0">
                            <thead>
                            <tr align="center">
                                <th>员工姓名</th>
                                <th>部门</th>
                                <th>拨号次数</th>
                                <th>接通次数</th>
                                <th>通话总时长（分钟）</th>
                                <th>平均通话时长（分钟）</th>
                                <th>呼出次数</th>
                                <th>客户主动呼入次数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in callRecord" align="center">
                                <td>{{item.starttime}}</td>
                                <td>{{item.CallType == 1 ? item.telerNo : item.toPhone}}</td>
                                <td>{{item.toPhoneName ? item.toPhoneName : '未知用户'}}</td>
                                <td>{{item.telerName}}</td>
                                <td>{{item.talked == 1 ? '是' : '否'}}</td>
                                <td>{{item.calltime | VformatM}}</td>
                                <td>{{item.CallType == 1 ? '呼入' : '呼出'}}</td>
                                <td>1250</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="no-result" v-if="callRecord.length == 0">
                            <p>暂无数据</p>
                        </div>
                    </div>
                </div>
                <!-- // table end -->

                <!-- page start -->
                <div class="callpage">
                    <div class="page-select">
                        <span>每页展示</span>
                        <a href="javascript:;" @click="choiceLimit(index, item.id)" :class="{'tag-active': item.active}" v-for="(item,index) in page_limit_arr">{{item.id}}</a>
                    </div>
                    <div class="page-choice">
                        <span class="page-total">共有{{total_num}}条记录</span>
                        <div class="page-boxs" id="callpages"></div>
                    </div>
                </div>
                <!-- //page end -->

            </div>
        </div>
    </div>
</div>

{include file="common/footer_top"/}
<script src="__ADMINJS__/app/callStatistics.js"></script>
{include file="common/footer_bottom"/}