{include file="common/header_top"/}
<link rel="stylesheet" href="__ADMINCSS__/page/material.css"/>
{include file="common/header_bottom"/}

<div class="container product-list-container">
    {include file="common/bread_nav"/}
    <div class="main-wrap" id="app" v-cloak>
        <div class="main material-wrap clearfix">

            <!--操作按钮-->
            <div class="btn-wrap clearfix">
                <div class="btns pull-right">
                    <!--新增资料库表单-->
                    <div class="layui-inline layui-inline-custom" style="display: none;">
                        <form action="" class="layui-form">
                            <div class="layui-input-inline layui-input-custom">
                                <input name="mark_name" lay-verify="search" autocomplete="off" maxlength="30"
                                       placeholder="请输入资料库名称" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <button lay-submit="" lay-filter="formAdd" class="layui-btn">确定</button>
                                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                            </div>
                        </form>
                    </div>
                    <!--//新增资料库表单-->
                    <a class="layui-btn" href="javascript:;">新建资料库</a>
                    <a class="layui-btn" href="/admin/material/material/log" data-type="tab" data-title="操作日志">操作日志</a>
                </div>
            </div>

            <!-- 资料库容器 -->
            <div class="layui-collapse">

                <!--资料库 item-->
                <div class="layui-colla-item layui-clear">
                    <h2 class="layui-colla-title">市场部 <i class="iconfont icon-shanchu"></i></h2>
                    <div class="layui-colla-content layui-show">
                        <ul class="folder-wrap clearfix">
                            <li class="empty">
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>产品库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>项目库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>原型图</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>

                            <!--新增编辑状态-->
                            <li class="edit-item">
                                <dl>
                                    <dt><i class="iconfont icon-folder"></i></dt>
                                    <dd>
                                        <input
                                              name="mark_name"
                                              lay-verify="search"
                                              autocomplete="off"
                                              maxlength="30"
                                              placeholder="请输入文档库名称"
                                        >
                                    </dd>
                                </dl>
                            </li>
                            <!--新增按钮-->
                            <li class="new-item">
                                <div class="dashed">
                                    <i class="iconfont icon-add"></i>
                                    <p>文档库</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//资料库 item-->

                <!--资料库 item-->
                <div class="layui-colla-item layui-clear">
                    <h2 class="layui-colla-title">市场部 <i class="iconfont icon-shanchu"></i></h2>
                    <div class="layui-colla-content layui-show">
                        <ul class="folder-wrap clearfix">
                            <li class="empty">
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>产品库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>项目库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>原型图</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>

                            <!--新增编辑状态-->
                            <li class="edit-item">
                                <dl>
                                    <dt><i class="iconfont icon-folder"></i></dt>
                                    <dd>
                                        <input
                                              name="mark_name"
                                              lay-verify="search"
                                              autocomplete="off"
                                              maxlength="30"
                                              placeholder="请输入文档库名称"
                                        >
                                    </dd>
                                </dl>
                            </li>
                            <!--新增按钮-->
                            <li class="new-item">
                                <div class="dashed">
                                    <i class="iconfont icon-add"></i>
                                    <p>文档库</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//资料库 item-->

                <!--资料库 item-->
                <div class="layui-colla-item layui-clear">
                    <h2 class="layui-colla-title">市场部 <i class="iconfont icon-shanchu"></i></h2>
                    <div class="layui-colla-content layui-show">
                        <ul class="folder-wrap clearfix">
                            <li class="empty">
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>产品库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>项目库</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <dl>
                                        <dt><i class="iconfont icon-folder"></i></dt>
                                        <dd>原型图</dd>
                                        <i class="iconfont icon-shanchu"></i>
                                        <i class="iconfont empty">空</i>
                                    </dl>
                                </a>
                            </li>

                            <!--新增编辑状态-->
                            <li class="edit-item">
                                <dl>
                                    <dt><i class="iconfont icon-folder"></i></dt>
                                    <dd>
                                        <input
                                              name="mark_name"
                                              lay-verify="search"
                                              autocomplete="off"
                                              maxlength="30"
                                              placeholder="请输入文档库名称"
                                        >
                                    </dd>
                                </dl>
                            </li>
                            <!--新增按钮-->
                            <li class="new-item">
                                <div class="dashed">
                                    <i class="iconfont icon-add"></i>
                                    <p>文档库</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//资料库 item-->

            </div>
            <!-- //资料库容器 -->

        </div>
    </div>
</div>


{include file="common/footer_top"/}
<script src="__ADMINJS__/app/material.js"></script>
{include file="common/footer_bottom"/}