

<div id="app" class="bg-color">
    <!-- 头部及logo用户中心 -->
    <div class="row home-header">
        <h3 class="header-title">巨景档案管理系统</h3>
        <div class="header-right">
            <a href="" class="user-photo"><img src="../../assets/images/a8.jpg" alt=""></a>
            <a href="" class="home-user">Admin<i class="iconfont icon-down"></i></a>
            <div class="email-icon">
                <i class="iconfont icon-email"><span class="email-total">1</span></i>
            </div>
        </div>
        </div>

    </div>
    <div class="container">
        <!-- 通知列表 -->
        <div class="row home-list">
            <!-- 待处理提醒 -->
            <div class="col-md-4 col-sm-4 home-dispose">
                <div class="dispose-cont">
                    <div class="row dispose-list">
                        <div class="col-md-6 list-title">
                            <h3>35,200</h3>
                            <p>我的档案客户</p>
                        </div>
                        <div class="col-md-6 list-title">
                            <h3>35,200</h3>
                            <p>我的档案客户</p>
                        </div>
                    </div>
                    <div class="row dispose-list">
                        <div class="col-md-6 list-title">
                            <h3>35,200</h3>
                            <p>我的档案客户</p>
                        </div>
                        <div class="col-md-6 list-title">
                            <h3>35,200</h3>
                            <p>我的档案客户</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 消息中心 -->
            <div class="col-md-8 col-sm-8 home-message">
                <div class="row list-classify">
                    <div class="col-md-12 list-title">消息中心</div>
                    <div class="col-md-12">
                        <ul>
                            <li class="classify-li">
                                <a href=""><span class="explain">法务</span><span class="details">【发版公告】crm系统1.1.1</span><span class="date">2017-07-09</span></a>
                            </li>
                            <li class="classify-li">
                                <a href=""><span class="explain">法务</span><span class="details">【发版公告】crm系统1.1.1</span><span class="date">2017-07-09</span></a>
                            </li>
                            <li class="classify-li">
                                <a href=""><span class="explain">法务</span><span class="details">【发版公告】crm系统1.1.1</span><span class="date">2017-07-09</span></a>
                            </li>
                            <li class="classify-li">
                                <a href=""><span class="explain">法务</span><span class="details">【发版公告】crm系统1.1.1</span><span class="date">2017-07-09</span></a>
                            </li>
                            <li class="classify-li">
                                <a href=""><span class="explain">法务</span><span class="details">【发版公告】crm系统1.1.1</span><span class="date">2017-07-09</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 主内容分类导航 -->
        <div class="row home-cont">
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="page/client-manage/navigation.html">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>客户管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="page/compact-manage/compact-dispose.html">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>客户审批</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="page/examine-manage/Demo.html">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>项目管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="page/client-manage/my-client.html">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>标的管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>服务管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>财务管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>质检管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>合同管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>回访管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>投诉管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>权限管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>群主管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>资料库</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>数据字典</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>统计分析</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>部门管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>职位管理</p>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 show-logo">
                <a class="show-nav" href="">
                    <img src="../../assets/images/a1.jpg" alt="">
                    <p>职级管理</p>
                </a>
            </div>
        </div>
    </div>
</div>


