<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>标的列表</title>
    <link rel="stylesheet" href="../../js/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../css/common.css"/>

    <link rel="stylesheet" href="../../css/page/signManage.css"/>
</head>
<body>

<div id="app" class="container">
    <div class="header">
        <div class="nav">
            <div class="arrow left-arrow">
                <i class="iconfont icon-left-arrow"></i>
            </div>
            <ul class="tabs">
                <li><a href="/">首页</a></li>
                <li v-for="item in tabs"
                    :class="['tabs-item', item.active && 'tabs-item-active']"
                    @click="switchTabs">
                    <a :href="item.url" v-text="item.name"></a>
                    <i class="iconfont icon-delete"></i>
                </li>
            </ul>
            <div class="arrow right-arrow">
                <a href="javascript:;"><i class="iconfont icon-right-arrow"></i></a>
                <a href="javascript:;">关闭操作<i class="iconfont icon-down-arrow"></i></a>
                <a href="javascript:;"><i class="iconfont icon-back"></i>退出</a>
            </div>
        </div>
    </div>
    <div class="main-wrap">
        <!-- 权限组列表主内容区域 -->
        <div class="layui-container">
            <div class="layui-row sign-row">
                <!-- 头部 -->
                <div class="layui-col-md12">
                    <h2 class="jur-head">标的列表</h2>
                </div>
                <!-- 搜索查询等 -->
                <div class="layui-col-md12 jur-top row-list fl">
                    <div class="layui-form juf-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">股票名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">产品名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">发布时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time1" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                            <span class="jur-line">~</span>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time2" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao">
                                    <option value="">全部</option>
                                    <option value="0">写作</option>
                                    <option value="1" selected="">阅读</option>
                                    <option value="2">游戏</option>
                                    <option value="3">音乐</option>
                                    <option value="4">旅行</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">负责人</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="example-handle">
                            <button class="examine-query">查询</button><button class="examine-query">重置</button>
                        </div>
                    </div>
                </div>
                <div class="jur-total clear">共<span class="jur-number">10</span>条标的</div>
                <!-- 表格部分 -->
                <div class="layui-col-md12 table-row">
                    <!-- 表格(自动化渲染) -->
                    <table class="layui-table" lay-data="{ id:'idTest', height: 'auto', even: true, limit: 6, limits: [5,10,20] }" lay-filter="jurTable">
                        <thead>
                        <tr>
                            <th lay-data="{field:'name', width:260}">权限组名称</th>
                            <th lay-data="{field:'describe', width:610}">描述</th>
                            <th lay-data="{field:'date', width:320}">创建时间</th>
                            <th lay-data="{field:'operation', width:350, align:'center', toolbar: '#barDemo'}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in tableList">
                            <td>{{item.name}}</td>
                            <td>{{item.describe}}</td>
                            <td>{{item.date}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <script type="text/html" id="barDemo">
                        <a href="" class="" lay-event="detail">查看</a>
                        <a href="" class="" lay-event="edit">编辑</a>
                        <a href="javascript:;" class="" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
            <div class="page">
                <div class="page-select">
                    <span class="page-title">每页展示客户</span>
                    <ul>
                        <li><a href="javascript:;" class="select-active">1000</a></li>
                        <li><a href="javascript:;">500</a></li>
                        <li><a href="javascript:;">300</a></li>
                    </ul>
                </div>
                <div class="page-choice">
                    <ul>
                        <li><a href="javascript:;">&lt;</a></li>
                        <li><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;" class="page-active">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">...</a></li>
                        <li><a href="javascript:;">99</a></li>
                        <li><a href="javascript:;">&gt;</a></li>
                    </ul>
                </div>
                <p class="page-total">共有<span>99</span>条记录</p>
            </div>
        </div>
    </div>

</div>

<script src="../../js/libs/jquery/jquery.min.js"></script>
<script src="../../js/libs/require/require.min.js"></script>
<script src="../../js/require.config.js"></script>

<script src="../../js/app/jurisdictionList.js"></script>

</body>
</html>