{include file="common/header_top"/}
<link rel="stylesheet" href="__ADMINCSS__/page/materialDetail.css"/>
{include file="common/header_bottom"/}

<div class="container">
    {include file="common/bread_nav"/}
    <div class="main-wrap" id="app" v-cloak>
        <div class="main">
            <div class="layui-row">
                <!--标题-->
                <div class="layui-row-title"><h3>新建文档标题标题标题标题标题标题</h3></div>

                <!--文档属性-->
                <div class="detail-info">
                    <ul class="clearfix">
                        <li>创建人：张三</li>
                        <li>更新时间：2016-12-12 14:38:38</li>
                        <li>所属分类：市场培训类</li>
                    </ul>
                    <br>
                    <dl class="clearfix">
                        <dt>关键字：</dt>
                        <dd>培训</dd>
                        <dd>培训</dd>
                    </dl>
                </div>

                <!--正文内容-->
                <div class="content-wrap">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
                        nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem
                        ipsum
                        dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                        dolor
                        sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
                        natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
                        pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
                        lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
                        penatibus
                        et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                        et
                        magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus
                        et
                        magnis dis parturient montes, nascetur ridiculus mus
                    </div>

                    <!--附件-->
                    <div class="accessory">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>附件</legend>
                            <ul class="file-list">
                                <li>
                                    <dl class="clearfix">
                                        <dt><i class="iconfont icon-doc"></i> 附件1名称.docx</dt>
                                        <dd><a href="javascript:;">下载</a></dd>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="clearfix">
                                        <dt><i class="iconfont icon-doc"></i> 附件1名称.docx</dt>
                                        <dd><a href="javascript:;">下载</a></dd>
                                    </dl>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{include file="common/footer_top"/}
<script src="__ADMINJS__/app/materialDetail.js"></script>
{include file="common/footer_bottom"/}