<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>Athena场景化金融云数据交易链系统</title>
    <link rel="stylesheet" href="__ADMINJS__/libs/layui/css/layui.css?v=__VERSION__"/>
    <link rel="stylesheet" href="__ADMINCSS__/common.css?v=__VERSION__"/>
    <script type="text/javascript" src="__ADMINJS__/libs/jquery/jquery.min.js?v=__VERSION__"></script>
    <script type="text/javascript" src="__ADMINJS__/libs/vue/vue.js?v=__VERSION__"></script>
    <script type="text/javascript">
        window.ADMINJS =  "__ADMINJS__";
        window.APIURL = "__APIURL__";
    	window.VERSION =  "__VERSION__";
    </script>