{include file="common/header_top"/}
<link rel="stylesheet" href="__ADMINCSS__/page/configure-edit.css?v=__VERSION__" />
{include file="common/header_bottom"/}
<!-- 来源 -->
<div class="container my-client-container" >
     <div  id="app" class="main-wrap" v-cloak>
          <!--客户来源-->
          <div class="main source">
          	<h2>客户来源：</h2>
          	<div class="layui-form layui-col-md12 formbar">
          		<form class="layui-form">
					<!--客户来源：  -->
					<div class="orgin">
						<div class="layui-form-item ">
						    <ul class="nodeBox">
							     <li class="layui-input-block" v-for="(item,index) in sourceInfo" :key="index">
							     	<input type="text" v-model="item.name" :value="item.name" :name="index" class="layui-input"   @blur="checkCustomer($event,item.name,index)"placeholder="请输入内容！"maxlength="15">
							     	<a href="javascript:;" class="del del-btn" @click="removeMobile(index)">删除</a>
							     </li>
						     </ul>
						     <div class="add add-process"><a href="javascript:;" class="layui-btn"  @click="addInput"><i class="iconfont icon-add"></i>新增</a></div>
					 	</div>
						<div class="btn-wrap layui-col-md12">
					 		<button class="layui-btn" lay-submit lay-filter="formAddRemark">确定</button>
					 		<button type="reset" class="layui-btn layui-btn-primary" @click="cancelAdd">取消</button>
						</div>
					</div>
				</form>
          	</div>
		</div>
		<div>
     </div>
     </div>
</div>

{include file="common/footer_top"/}
<script src="__ADMINJS__/app/configure-source.js?v=__VERSION__"></script>
{include file="common/footer_bottom"/}